name: Daily Post
on:
  # schedule:
  #   - cron: '30 4 * * *'
  workflow_dispatch:

jobs:
  build_and_post:
    runs-on: ubuntu-latest
    timeout-minutes: 90
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - run: pip install -r requirements.txt
      - run: cd remotion && npm install
      - run: python src/main.py --prod --remotion
        env:
          GOOGLE_API_KEYS: ${{ secrets.GOOGLE_API_KEYS }}
          CHANNEL_THEME: '園芸'
          CHANNEL_NAME: 'もう枯らさない家庭園芸'
          CHANNEL_COLOR: '#228B22'
